.intro__content-paragraph {
    width: 70%;
    font-size: 14px;
    line-height: 24px;
    margin-top: 32px;
}

@media screen and (max-width: 1100px) {
    .intro__content-paragraph {
        width: 75%;
        margin-top: 35px;
    }
}

@media screen and (max-width: 850px) {
    .intro__content-paragraph {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .intro__content-paragraph {
        font-size: 16px;
        line-height: 27px;
        width: 99%;
        margin-top: 29px;
    }
}

@media screen and (max-width: 340px) {
    .intro__content-paragraph {
        margin-top: 40px;
    }
}