.container__content {
    width: 82.2%;
    height: auto;
    margin: 0 auto;
}

@media screen and (max-width: 1300px) {
    .container__content {
        width: 92.5%;
    }
}

@media screen and (max-width: 1100px) {
    .container__content {
        width: 90.5%;
    }
}

@media screen and (max-width: 850px) {
    .container__content {
        width: 94%;
    }
}

@media screen and (max-width: 450px) {
    .container__content {
        width: 91.5%;
    }
}

@media screen and (max-width: 340px) {
    .container__content {
        width: 90%;
    }
}