.comments__title {
    max-width: 750px;
    font-size: 72px;
    line-height: 78px;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

@media screen and (max-width: 850px) {
    .comments__title {
        font-size: 42px;
        line-height: 46px;
        max-width: 600px;
    }
}

@media screen and (max-width: 460px) {
    .comments__title {
        font-size: 32px;
        line-height: 36px;
        width: 100%;
    }
}
