.comments__container-quote {
    font-size: 14px;
    line-height: 23px;
    margin: 2.4em 0 0;
}

@media screen and (max-width: 850px) {
    .comments__container-quote {
        order: 3;
        margin-top: 1.1em;
        font-size: 16px;
    }
}