.intro__content-addition {
    font-size: 13px;
    line-height: 20px;
    font-weight: bold;
    margin-top: 13px;
    padding-left: 0;
    list-style-type: none;
}

@media screen and (max-width: 1100px) {
    .intro__content-addition {
        margin-top: 17px;
    }
}

@media screen and (max-width: 850px) {
    .intro__content-addition {
        margin-top: 22px;
    }
}

@media screen and (max-width: 450px) {
    .intro__content-addition {
        font-size: 12px;
        line-height: 19px;
        margin-top: 8px;
    }
}

@media screen and (max-width: 340px) {
    .intro__content-addition {
        margin-top: 35px;
    }
}