.cover__title {
    font-size: 72px;
    line-height: 78px;
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 1100px) {
    .cover__title {
        max-width: 55.2%;
    }
}

@media screen and (max-width: 920px) {
    .cover__title {
        max-width: 60%;
    }
}

@media screen and (max-width: 825px) {
    .cover__title {
        max-width: 65%;
    }
}

@media screen and (max-width: 800px) {
    .cover__title {
        max-width: 70%;
    }
}

@media screen and (max-width: 700px) {
    .cover__title {
        max-width: 45%;
        font-size: 42px;
        line-height: 49px;
    }
}

@media screen and (max-width: 640px) {
    .cover__title {
        max-width: 50%;
    }
}

@media screen and (max-width: 570px) {
    .cover__title {
        max-width: 55%;
    }
}

@media screen and (max-width: 520px) {
    .cover__title {
        max-width: 61%;
    }
}

@media screen and (max-width: 470px) {
    .cover__title {
        max-width: 70%;
    }
}

@media screen and (max-width: 410px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        max-width: 60%;
    }
}

@media screen and (max-width: 365px) {
    .cover__title {
        max-width: 70%;
    }
}