.lead__carriage-text {
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.13em;
    margin-top: 7px;
}

@media screen and (max-width: 1100px) {
    .lead__carriage-text {
        margin-top: 13px;
    }
}

@media screen and (max-width: 850px) {
    .lead__carriage-text {
        font-size: 11px;
        letter-spacing: 0.18em;
        margin-top: 4px;
        margin-left: 1.5rem;
    }
}

@media screen and (max-width: 500px) {
    .lead__carriage-text {
        margin-left: 1rem;
    }
}