@import url("./__links/footer__links.css");
@import url("./__copyright/footer__copyright.css");

.footer {
    width: 100%;
    margin: 13.5% auto 0;
}

@media screen and (min-width: 670px) {
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (max-width: 1100px) {
    .footer {
        margin-top: 17.2%;
    }
}

@media screen and (max-width: 850px) {
    .footer {
        margin-top: 15.2%;
    }
}

@media screen and (max-width: 450px) {
    .footer {
        margin-top: 16.2%;
    }
}

@media screen and (max-width: 340px) {
    .footer {
        margin-top: 18.3%;
    }
}