.barentsburg__addition-website {
    width: 30%;
    margin: 0 7.5em;
}

@media screen and (max-width: 750px) {
    .barentsburg__addition-website {
        width: 100%;
        margin: 2em 0 0;
    }
}
